@model List<Team>

    <div class="col-xs-12 col-md-10 d-flex flex-column">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#newTeamModal">Create new team</button>
        </div>
        <div class="teams">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Number of players</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var team in Model)
                        {
                            <tr>
                                <td>@team.Name</td>
                                <td>@team.Players.Count</td>
                                <td><a asp-controller="Team" asp-action="Details" asp-route-id="@team.Id"><button type="button">Details</button></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <!-- Create new team modal -->
    <div class="modal" id="newTeamModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1>test</h1>
                </div>
                <div class="modal-body">
                    <!-- TODO: new modal form -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mx-2" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-danger mx-2" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
